<div id="text" class="flex justify-center mt-10 text-[4.5vh] text-gray-600">
<p>Estadisticas</p>
</div>
<div class="card flex justify-center  gap-[20vh] mt-24">
    <p-chart type="pie" [data]="data1" [options]="options1" style="width: 185px; height: 100px;"></p-chart>
    <p-chart type="pie" [data]="data2" [options]="options2" style="width: 240px; height: 100px;" class="-mt-8"></p-chart>
    <p-chart type="pie" [data]="data3" [options]="options3" style="width: 185px; height: 100px;"></p-chart>
</div>
