<div class="h-[1vh] w-full bg-[#9d9292] mt-52"></div>

<div class="relative flex items-center bg-cover bg-center h-[70vh]" style="background-image: url('./assets/psicologa.png');">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    
    <div class="absolute inset-0 shine-effect"></div>

    <div class="relative text-left text-white pl-16 max-w-lg">
        <p class="text-4xl font-semibold mb-4 text-center">¿Tienes algún problema que no puedas superar?</p>
        <p class="text-lg mb-6 text-center">
            Conéctate con profesionales de psicología que trabajan en colaboración con diversas instituciones. 
            Recibe el apoyo que necesitas para afrontar y superar las consecuencias emocionales causadas por 
            situaciones de violencia o agresión.
        </p>
        <div class="flex justify-center">
            <button class="bg-[#716855] text-white px-10 py-3 rounded-full font-semibold hover:bg-[#4e4738] duration-150">
                Contactar
            </button>
        </div>
    </div>
</div>



<div class="h-[1vh] w-full bg-[#9d9292]"></div>
