<div class="mt-12">
<div class="flex justify-center text-[3.5vh] font-bold text-gray-600">
<p>Recuerda, tu denuncia es..</p>
</div>
<div class="flex justify-center h-52 gap-[55vh]">
    <img src="./assets/bien.png" alt="">
    <img src="./assets/privado.png" alt="">
</div>

<div class="h-[40vh] max-w-6xl mx-auto flex justify-between items-start bg-white shadow-lg p-10 border border-gray-200 rounded-lg my-8">
    <div class="w-1/2 pr-8">
        <h1 class="text-[3.4vh] font-bold mb-4">Libre</h1>
        <p class="text-gray-700 text-[2.6vh]" id="text">
            Tienes el derecho de denunciar cualquier injusticia o 
            situación irregular sin restricciones. Nuestra plataforma 
            te brinda la libertad de hacerlo de manera sencilla y 
            accesible, garantizando que tu voz sea escuchada.
        </p>
    </div>
    <div class="border-r border-gray-300 h-full mx-4"></div>
    <div class="w-1/2 pl-8">
        <h1 class="text-[3.4vh] font-bold mb-4">Privada</h1>
        <p class="text-gray-700 text-[2.6vh]" id="text">
            Tu seguridad y confidencialidad son nuestra prioridad. 
            Con la denuncia privada, puedes reportar cualquier 
            incidente de forma anónima, asegurando que tu identidad 
            permanezca protegida en todo momento.
        </p>
    </div>
</div>
</div>