<header class="h-10 w-full bg-[#bdc1c2] flex items-center justify-between 
duration-150 transition-all hover:h-[10vh] hover:bg-[#f3f6f7]
shadow-[0px_9px_5px_-1px_rgba(0,0,0,0.13)] z-40 sticky top-0">
    <div class="flex items-center gap-[10vh]">
        <img src="./assets/logo.png" alt="logo" class="h-[7vh] transition-all duration-150 hover:h-20 hover:cursor-pointer" title="Home">
        <div class="cursor-pointer flex gap-10 font-semibold items-center">
            <p class="px-6 py-1 duration-150 hover:bg-[#81c0de5a] hover:duration-150 rounded-xl">Lugares</p>
            <p class="px-6 py-1 duration-150 hover:bg-[#81c0de5a] hover:duration-150 rounded-xl">Ayuda psicológica</p>
            <p class="px-6 py-1 duration-150 hover:bg-[#81c0de5a] hover:duration-150 rounded-xl">Empresa</p>
        </div>
    </div>

    <div class="flex font-semibold items-center gap-6 mr-6">
        <p class="hover:text-[#c32f2f] cursor-pointer" [routerLink]="['/login']">Iniciar sesión</p>
        <p class="px-6 py-2  duration-150 hover:rounded-2xl hover:bg-[#ccdfead6]
        cursor-pointer hover:duration-150" [routerLink]="['/register']">Registrarse</p>
    </div>
</header>

