
<div id="fondo">
    <div id="modal">
        <div id="body">
    
            <div class="flex justify-between">
            <p id="titulo">Noticias sobre la denuncia</p>
            <p class="font-bold hover:text-gray-800 cursor-pointer" title="Cerrar">X</p>
            </div>
            <label for="">Nombre del emisor</label>
            <input type="text" name="" id="">
                <p id="texto" class="font-light">Envia algun informe o noticia relevante sobre su 
                    denuncia que realizo para 
                    mantenerlo informada de cualquier suceso</p>
            <textarea name="" id="textarea"></textarea>
    
            <div id="botones">
            <button (click)="close()" class="bg-sky-400 px-7 py-2 mt-2">Cerrar</button>
        </div>
        </div>
    
    </div>
    </div>
    